*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-image: linear-gradient(to bottom right, rgb(198, 255, 255), rgb(255, 255, 255));
}
a{
    color: rgb(99, 99, 99);
    padding-left: 60px;
    text-decoration: none;
}
.info{
    position: fixed;
    margin-left: 5%;
}
.info input:not(input:valid){
    width: 20px;
    height: 20px;
    position: fixed;
    border: 0px black solid;
}
.register{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 70%;
    background-color: rgba(73, 73, 73, 0.1);
    border-radius: 5%;
    box-shadow: 2px 3px;
}
h2{
    margin-left: 20%;
    padding-bottom: 10px;
    padding-top: 20px;
    font-family: Arial;
    font-weight: 800;
}
h5{
    margin-left: 15%;
    font-family: 'Times New Roman';
}
.container{
    margin-left: 10%;
    margin-top: 50px;
}
.field-holder{
    margin-bottom: 10px;
}
input{
    font-size: 18px;
    width: 300px;
    height: 35px;
    border: 0;
    outline: none;
    border-bottom: 1px blue solid;
    background-color: inherit;
    margin-bottom: 10px;
}
input:invalid{
    color: rgb(255, 0, 0);
    border-bottom: red solid 1px;
}
input:not(input:invalid){
    color: green;
    border-bottom:  rgb(0, 190, 0) solid 1px;
}
label{
    top: 0;
    left: 0;
    opacity: 0.8;
}
input:focus{
    font-size: 20px;
    transition: 0.5s ease;
}
input:not(input:focus){
    font-size: 18px;
    transition: 0.5s ease;
}
.bsubmit{
    border: 1px rgba(0, 0, 0, 0.486) solid;
    border-radius: 5px;
    margin-top: 250px;
}
.bsubmit:hover{
    background-color: rgb(192, 192, 192);
}
.regi a{
    color: rgb(124, 124, 219);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
}